<h1>Tamagotchi</h1>
<h4>Health = <%= @@tamagotchi.health.round(1) %></h4>
<form action="/" method="get">
  <button type="submit" name="feed" value="1">Feed</button>
</form>
<a href='/'>Check again</a>
